@import '../core/index';

.component {
    position: fixed;
    top: 18px;
    right: 140px;
}

.icon {
    position: fixed;
    right: 120;
    display: inline-block;
    padding: 12px;
    background-color: white;
    border-radius: $border-radius;
    cursor: pointer;
}

.tooltip {
    position: fixed;
    top: 48px;
    right: 120;
    background-color: white;
    border-radius: $border-radius / 2;
    border: 1px solid $color-primary;
    padding: 24px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: $color-primary-dark;
}

.invisible {
    display: none;
}