@import '../core/index';

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-gray;
}

.form {
    background-color: white;
    padding: 90px;
    border-radius: $border-radius * 4;
    box-shadow: 0 8px 12px 2px rgba($color: #000000, $alpha: 0.04);
    width: 640px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.helpLink {
    color: $color-primary-dark;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid $color-primary;
    }
}

.goHome {
    color: white;
    background-color: $color-primary;
    display: inline-block;
    font-size: $font-size-normal;
    border-radius: $border-radius;
    padding: 10px 12px;
    user-select: none;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
    cursor: pointer;
    font-weight: 500;

    &:hover {
        box-shadow: 0 4px 16px 1px rgba($color: $color-primary, $alpha: 0.2);
    }
}