@import '../core/index';

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card {
    width: clamp(400px, 32vw, 440px);
    margin: 0 2vw;
}


.events {
    flex: 5;
    max-width: 720px;
    margin: 0 2vw;
}
