@import '../core/index';

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: $color-gray;
    padding: 10vh 12vw;
}

.card {
    width: 400px;
    margin: 0 2vw;
}


.events {
    flex: 5;
    margin: 0 2vw;
}
